:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --border-color: rgba(33, 33, 33, 0.2);
  --dop-text-color: rgba(117, 117, 117, 1);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --title-text-color: rgba(33, 150, 243, 1);
  --overlay-work-color: rgba(33, 150, 243, 0.9);
  --hero-color: rgba(47, 48, 58, 1);
  --overlay-color: rgba(47, 48, 58, 0.8);
  --h-text-color: rgba(255, 255, 255, 1);
  --f-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: rgba(0, 0, 0, 1);
  --button-color: rgba(245, 244, 250, 1);
  --card-border: rgba(238, 238, 238, 1);
  --header-border: #ececec;
  --bcolor-icon: rgba(255, 255, 255, 0.1);
  --icon-color: rgba(175, 177, 184, 1);
  --button-send-color: rgba(24, 140, 232, 1);
  --card-set-gap: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

body {
  background-color: var(--h-text-color);
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  outline: 1px solid var(--header-border);
}

.logo,
.logof {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
}

/* Site nav */
.site-nav .link.current {
  color: var(--title-text-color);
}

.site-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-fn);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.contacts-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--dop-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-fn), fill 250ms var(--timing-fn);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--title-text-color);
  fill: var(--title-text-color);
}

/* ---------ИКОНКИ */

.icon-cont {
  display: inline;
  margin-right: 10px;
}

.contacts-nav .item .link {
  display: flex;
  align-items: center;
}
/* ------------------------ */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav,
.contacts-nav {
  display: flex;
}

.contacts-nav {
  padding: 0;
  margin-left: auto;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav {
  margin-left: 93px;
}

.contacts-nav .item + .item {
  margin-left: 30px;
}
/* ------------подчёркивание ссылки текущей страницы------- */
.site-nav .link {
  position: relative;
}

.site-nav .link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--title-text-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms var(--timing-fn);
}

.site-nav .link:hover::after,
.site-nav .link:focus::after,
.site-nav .link.current::after {
  transform: scaleX(1);
}

/* section hero */
.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--h-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-primary {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--title-text-color);
  color: var(--h-text-color);
}

/* section about */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-card .background-icon {
  width: 270px;
  height: 120px;
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about-card svg {
  width: 65px;
  height: 70px;
}

.about-card {
  padding: 0;
  display: flex;
}

.about-card .item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 30px;
}

.about-card .item:last-child {
  margin-right: 0px;
}

.about-a {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.about-b {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--dop-text-color);
}

/* чем занимаемся */
.what-doing-title,
.team-title,
.our-clients-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
  text-align: center;
}

.what-doing {
  padding-bottom: 94px;
}

.card-doing {
  display: flex;
  flex-wrap: wrap;
  min-width: 1170px;
  padding: 0;
}

.card-doing .item {
  width: 370px;
  margin-right: 30px;
}

.card-doing .item:last-child {
  margin-right: 0px;
}

.card-doing .item {
  position: relative;
}

.what-doing-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--overlay-color);
}

.what-doing-overlay p {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  color: var(--h-text-color);
}

/* наша команда */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-color);
}

.team-card {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  max-width: 100%;
}

.team-card .item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
}

.team-card .card-thumb img {
  width: 270px;
}

.card-team {
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 30px 20px;
  background: var(--h-text-color);
  border: 1px solid var(--card-border);
  box-sizing: border-box;
  text-align: center;
}

.name-card {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.specialty {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: var(--dop-text-color);
}

/* -------Иконки Соц сетей-------- */
.social-link {
  padding: 0;
  display: flex;
}

.social-link li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bcolor-icon);
}

.social-link a,
.social-link svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}

.social-link a:hover,
.social-link a:focus {
  background-color: var(--title-text-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-link a:hover svg,
.social-link a:focus svg {
  fill: var(--h-text-color);
}

.social-link svg {
  width: 20px;
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-fn);
}

.social-link li:not(:last-child) {
  margin-right: 10px;
}

/* ----Постоянные клиенты */
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-card {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
}

.our-clients-card li svg {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-fn);
}

.our-clients-card li:hover svg,
.our-clients-card li:focus svg {
  fill: var(--title-text-color);
}

.our-clients-card li:hover,
.our-clients-card li:focus {
  border: 1px solid var(--title-text-color);
}

.our-clients-card li {
  display: flex;
  flex-basis: calc(100% / 6 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: var(--h-text-color);
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  transition: border 250ms var(--timing-fn);
}

/* section foot */
.page-footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.foot {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logof {
  margin: 0;
  margin-bottom: 20px;
  color: var(--h-text-color);
  background-color: var(--hero-color);
}

.adr {
  font-style: normal;
  color: var(--h-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.cont-text {
  margin: 0;
  margin-bottom: 9px;
}

.contacts-navf .link {
  margin-bottom: 9px;
  text-decoration: none;
  color: var(--f-text-color);
}

.contacts-navf {
  padding: 0;
}

/* --------------иконки СОЦ СЕТЕЙ footer --------*/
.social-text {
  font-style: normal;
  color: var(--h-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.social-icons li {
  padding: 0;
  margin: 0;
  display: inline-block;
  justify-content: left;
  align-items: left;
  width: 44px;
  height: 44px;
  fill: currentColor;
  border-radius: 50%;
  background-color: var(--bcolor-icon);
}

.social-icons a,
.social-icons svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: inherit;
}

.social-icons a:hover,
.social-icons a:focus {
  background-color: var(--title-text-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icons a {
  transition: background-color 250ms var(--timing-fn);
}

.social-icons svg {
  width: 20px;
  fill: white;
}

.social-icons li:not(:last-child) {
  margin-right: 10px;
}

/* --------------Подписаться-------------- */

.subscribe .input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--hero-color);
  border-radius: 4px;
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--title-text-color);
  color: var(--h-text-color);
  cursor: pointer;
}

.subscribe-button svg {
  fill: currentColor;
  margin-left: 10px;
}

/* portfolio */
.works {
  padding-top: 94px;
}

.buttonp,
.our-works {
  display: flex;
  flex-wrap: wrap;
}

.buttonp {
  margin-bottom: 50px;
  justify-content: center;
}

.item-b {
  margin-right: 8px;
}

.item-b:last-child {
  margin-right: 0px;
}

.buttonp .button {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--button-color);
  text-align: center;
  border-color: transparent;
  transition: background-color 250ms var(--timing-fn);
}

.buttonp .button:hover,
.buttonp .button:focus {
  color: var(--h-text-color);
  background-color: var(--title-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Наши работы */
.our-works {
  padding: 0px;
  margin: 0;
  padding-bottom: 94px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.our-works .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

a:link {
  text-decoration: none; /* Убирает подчеркивание для ссылок */
}

.our-works .item:hover,
.our-works .item:focus {
  border: 1px solid var(--card-border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: border 250ms var(--timing-fn);
}

.card-content-works {
  padding: 20px 24px;
  border: 1px solid var(--card-border);
  color: var(--primary-text-color);
  line-height: 2;
}

.our-works .card-thumb img {
  width: 370px;
}

.heading-work {
  margin: 0;
  margin-bottom: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-work-color);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-fn);
}

.overlay-text {
  padding: 63px 24px;
  font-family: inherit;
  color: var(--h-text-color);
  font-size: 18px;
  line-height: 1.56;
}

.our-works .item:hover .card-overlay,
.our-works .item:focus .card-overlay {
  transform: translateY(0);
}

.description {
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  text-decoration: none;
  color: var(--dop-text-color);
  line-height: 1.87;
}

/* ------Модальное окно----------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  max-width: 528px;
  width: 100%;
  min-height: 581px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: var(--h-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-fn);
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  background: var(--h-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  transition: fill 250ms var(--timing-fn);
}

/* --------------модалка заказать услугу */
.application-form h1 {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.17;
}

.application-form .input {
  padding: 11px;
  padding-left: 42px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  width: 448px;
  height: 40px;
  transition: border-color 250ms var(--timing-fn);
}

.application-form .textarea {
  padding: 12px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.17px;
  color: var(--placeholder-color);
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  resize: none;
  transition: border-color 250ms var(--timing-fn);
}

.application-form .input:focus,
.application-form .input:hover,
.application-form .textarea:focus,
.application-form .textarea:hover {
  border-color: var(--title-text-color);
  cursor: pointer;
}

.modal .close-button:hover,
.modal .close-button:focus {
  fill: var(--title-text-color);
  cursor: pointer;
}

.application-form .group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.application-form .agreement {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}

.application-form .label {
  font-family: inherit;
  font-size: 12px;
  line-height: 1, 17px;
  margin-bottom: 4px;
}

.application-form .input-wrapper {
  position: relative;
}

.application-form .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-fn);
}

.application-form .input:focus + .icon,
.application-form .input:hover + .icon {
  fill: var(--title-text-color);
}

.application-form .send {
  margin-left: 110px;
  padding: 10px 55px;
  max-width: 200px;
  height: 50px;

  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  background-color: var(--title-text-color);
  color: var(--h-text-color);
  transition: background-color 250ms var(--timing-fn);
}

.application-form .send:hover {
  background-color: var(--button-send-color);
  cursor: pointer;
}

/* -----------------checkbox------------------- */

.application-form .check {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.72;
}

.agreement a {
  text-decoration: underline;
}

.check-icon {
  margin-right: 7px;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
}

.check-icon use {
  display: none;
}

.application-form .check-input:checked + .check-icon {
  border: none;
}

.application-form .check-input:checked + .check-icon use {
  display: block;
}

.check-input {
  appearance: none;
  position: absolute;
}

/* ------------------------ */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
